/* Transitions */

/* Accordion main */
.accordion {
}

/* Sections */
.accordion section {
    margin: 0.5rem 0;
}

/* Section headings */
.accordion hgroup {
    cursor: pointer;
    display: flex;
    align-items: baseline;
}
.accordion hgroup .fa {
    padding: 1em;
}
.accordion .closed hgroup .fa {
    transform: rotate(-90deg);
}

/* Section content wrapper */
.accordion .content-wrapper {
    margin: 0 1rem;
}
.accordion .closed .content-wrapper {
    display: none;
}

/* Section content */
.accordion .content {
    padding-top: 1rem;
    /*margin: 0 1rem;*/
}
