/* Transitions */

/* Accordion main */
.accordion {
}

/* Sections */
.accordion section {
    margin: 0.5rem 1rem;
}

/* Section headings */
.accordion hgroup {
    cursor: pointer;
    display: flex;
    align-items: baseline;
}
.accordion hgroup .fa {
    padding: 1rem;
    margin-left: -1rem;
    transform: scale(1.2) translateY(-0.1rem);
}
.accordion .closed hgroup .fa {
    transform: scale(1.2) translateY(-0.1rem) rotate(-90deg);
}

/* Section content */
.accordion .content {
}
.accordion .closed .content {
    display: none;
}
