/* Material Design Typography Styles (https://material.google.com/style/typography.html#typography-styles) */
/* Reference point: 1rem = 14sp (Body1 style) */

/* Base style */
html, body, input, button, select, ospion, textarea {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.42857142857rem; /* 20sp */
}

/* Display 1 */
h1 {
    font-weight: 400;
    font-size: 2.42857142857rem; /* 34sp */
    line-height: 2.85714285714rem; /* 40sp */
    margin: 1.42857142857rem 0; /* 40sp leading = (20px 0) */
}

/* Headline */
h2 {
    font-weight: 400;
    font-size: 1.71428571429rem; /* 24sp */
    line-height: 2.28571428571rem; /* 32sp */
    margin: 0.78571428571rem 0; /* 32sp leading = (11px 0) */
}

/* Subheading */
h3 {
    font-weight: 400;
    font-size: 1.14285714286rem; /* 16sp */
    line-height:  1.71428571429rem; /* 24sp */
    margin: 0.21428571428rem 0; /* 24sp leading = (3px 0) */
}

/* Body 2 */
h4 {
    font-weight: 500;
    font-size: 1rem; /* 14sp */
    line-height:  1.71428571429rem; /* 24sp */
    margin: 0.14285714285rem 0; /* 24sp leading = (2px 0) */
}

button {
    text-align: left;
}
