/* Material Design Typography Styles (https://material.google.com/style/typography.html#typography-styles) */
/* Reference point: 1rem = 14sp (Body1 style) */

/* Base style */
body, input, button, select, option, textarea {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 400;
}

/* Heading */
h1 {
    font-size: 1.714rem;
    font-weight: 400;
}

/* Title */
h2 {
    font-size: 1.429rem;
    font-weight: 500;
}

/* Subheading */
h1 > small, h2 > small {
    font-size: 1.143rem;
    font-weight: 400;
}

/* Body 2 */
b {
    font-weight: 500;
}
