/* Material Design Typography Styles (https://material.google.com/style/typography.html#typography-styles) */
/* Reference point: 1rem = 14sp (Body 1 style) */

/* Base style */
html, body, input, button, select, option, textarea {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.42857142857rem; /* 20sp */
}

/* Display 1 */
h1 {
    font-weight: 400;
    font-size: 2.42857142857rem; /* 34sp */
    line-height: 2.85714285714rem; /* 40sp */
    margin: 2rem 0 0.3rem; /* 40sp leading = (20px 0) */
}

/* Headline */
h2 {
    font-weight: 400;
    font-size: 1.71428571429rem; /* 24sp */
    line-height: 2.28571428571rem; /* 32sp */
    margin: 1.5rem 0 0.3rem; /* 32sp leading = (11px 0) */
}

/* Subheading */
h3 {
    font-weight: 400;
    font-size: 1.14285714286rem; /* 16sp */
    line-height:  1.71428571429rem; /* 24sp */
    margin: 1.3rem 0 0.3rem; /* 24sp leading = (3px 0) */
}

/* Body 2 */
h4 {
    font-weight: 500;
    font-size: 1rem; /* 14sp */
    line-height:  1.71428571429rem; /* 24sp */
    margin: 0.75rem 0 0.3rem; /* 24sp leading = (2px 0) */
}

/* Caption */
button li {
    font-weight: 400;
    font-size: 0.85714285714rem; /* 12sp */
    line-height:  1.14285714286rem; /* 16sp */
    margin: 0.15rem 0; /* 16sp leading = (2px 0) */
}

/* Miscellaneous */
p {
    margin: 0.3rem 0 0.5rem;
    text-align: justify;
}
